[submodule "EmulationStation/.emulationstation/themes/carbon"]
	path = EmulationStation/.emulationstation/themes/carbon
	url = https://github.com/RetroPie/es-theme-carbon.git
[submodule "EmulationStation/.emulationstation/themes/carbon-nometa"]
	path = EmulationStation/.emulationstation/themes/carbon-nometa
	url = https://github.com/RetroPie/es-theme-carbon-nometa.git
[submodule "EmulationStation/.emulationstation/themes/carbon-centered"]
	path = EmulationStation/.emulationstation/themes/carbon-centered
	url = https://github.com/RetroPie/es-theme-carbon-centered.git
[submodule "EmulationStation/.emulationstation/themes/pixel"]
	path = EmulationStation/.emulationstation/themes/pixel
	url = https://github.com/RetroPie/es-theme-pixel.git
[submodule "EmulationStation/.emulationstation/themes/simple"]
	path = EmulationStation/.emulationstation/themes/simple
	url = https://github.com/RetroPie/es-theme-simple.git
[submodule "EmulationStation/.emulationstation/themes/tronkyfran"]
	path = EmulationStation/.emulationstation/themes/tronkyfran
	url = https://github.com/HerbFargus/es-theme-tronkyfran.git
